.block-content-margin {
    margin-top: 70px;
}

select {
    display: inline-block;
}


#price-and-points-by-country-composite g.axis text {
    transform: rotate(-45deg);
    text-anchor: end !important;
}
